<ion-header class="header">
    <ion-toolbar>
        <ion-title>
            Budget
        </ion-title>

        <ion-button slot="end" size="small" href="/budget-form">
            ajouter
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let entry of budgetList">
            <ion-label slot="start">{{ entry.label}}</ion-label>
            <ion-label slot="end">{{ entry.amount }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>